.research-title{
	color:  black;
	font-size: 25px;
}

.research-explanation{
	color:  gray;
	font-size: 25px;
}

.research-1-title{
	color:  black;
	font-size: 20px;
}
.research-1{
	color:  gray;
	font-size: 20px;
}

.research-2-title{
	color:  black;
	font-size: 20px;
}
.research-2{
	color:  gray;
	font-size: 20px;
}

.research-3-title{
	color:  black;
	font-size: 20px;
}
.research-3{
	color:  gray;
	font-size: 20px;
}

